name: Blender Addon Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:  # Enables manual triggering

jobs:
  build:
    runs-on: ubuntu-latest  # Use ubuntu-latest or windows-latest as needed

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Blender Addon Build
        uses: BlenderKit/blender-addon-build@v0.1
        with:
          name: 'Blender FastHenry'
          name-suffix: 'commit-hash'
          build-command: 'make build'
          build-location: './build'
          do-checkout: 'true'
          exclude-files: '.git;.github;.gitignore;docs;README.md'
